OPENAPI_BASE_URL=<base_url>
OPENAI_MODEL=<model>
OPENAI_API_KEY=<required>
GITHUB_WEBHOOK_SECRET=<required-for-server-webhook>
GITHUB_APP_ID=<required-for-server-webhook>
GITHUB_APP_PRIVATE_KEY=<required-for-server-webhook>
GITHUB_API_BASE_URL=https://api.github.com
